<div class="container">
    <div>
        Built with the <a href="http://www.omdbapi.com/">OMDB API</a>
    </div>
    <div>
        Send and questions or comments to greg@ottsandbox.com
    </div>
</div>