<div class="container">
    <div class="aboutLine">
        Built with the <a href="http://www.omdbapi.com/">OMDB API</a>
    </div>
    <div class="aboutLine">
        Send and questions or comments to greg@ottsandbox.com
    </div>
    <div class="aboutLine">
        <a href="https://github.com/gregott91/ImdbGrapher">View this project on GitHub</a>
    </div>
</div>