@using ImdbGrapher.Models.Home
@model GraphShowModel

@{
    if (Model.Show != null)
    {
        ViewBag.Title = "Graph for " + Model.Show.ShowTitle;
    }
}

@section styles {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Scripts/Home/GraphShow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
}

<div hidden id="show">
    @Html.Raw(Json.Encode(Model.Show))
</div>

<div class="container" id="loaderContainer">
    <div class="loader"></div>
</div>

<div class="container" id="graphContainer" hidden>
    <div class="graphHeaderContainer">
        <div class="showTitleDisplay">
            <div class="showTitleDisplayTitle">
                <a id="showTitleDisplayContent"></a>
                <div class="showDetailsButton titleIcon" id="showDetailsButton" data-expanded="false">
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up"></span>
                </div>
            </div>
            <span class="fa fa-cog titleIcon" id="settingsCog" data-toggle="modal" data-target="#gridSettingsModal"></span>
        </div>
        <div class="showDetailsContainer" hidden>
            <img class="showDetailPoster" />
            <div class="showDetailContent">
                <div class="showDetailRatingContainer">
                    <span class="showDetailRating"></span><span class="showDetailOutOf">/10</span>
                    <span class="showDetailVotes"></span>
                    <span class="showDetailStars"></span>
                </div>
                <div class="showDetailActors"></div>
                <div class="showDetailPlot"></div>
            </div>
        </div>
    </div>
    <div class="graphCanvasContainer">
        <canvas id="showChart"></canvas>
    </div>
    <div class="container gridFooterContainer">
        <div>
            <a id="similarShowsLink">View Similar Shows</a>
        </div>
        <div>
            <a href="/imdbgraph">Graph Another Show</a>
        </div>
    </div>
    <hr />
    <div class="container episodeListContainer">
        <div class="episodeListTitle">
            <h3>
                Episode List
            </h3>
        </div>
        <div class="episodeListHeader">
            <button class="btn btn-primary episodeListNavButton" id="backButton" disabled>
                <span class="fa fa-arrow-left"></span>
            </button>
            <select id="seasonSelect" class="form-control">
                <option value="-1" disabled selected>Select a season...</option>
            </select>
            <button class="btn btn-primary episodeListNavButton" id="nextButton">
                <span class="fa fa-arrow-right"></span>
            </button>
        </div>
        <div id="episodeList" class="container" hidden></div>
    </div>
</div>

<div class="container" id="errorContainer" hidden>
    <h4 class="searchResult">Unable to display the requested show</h4>
</div>

<div id="gridSettingsModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configure Chart</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="checkbox">
                        <label><input type="checkbox" id="startFromZero"> Start From Zero</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="showSeriesTrendline"> Show Series Trendline</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="filterSeasons">
                            Filter seasons:
                            <select id="seasonStartDropdown">
                                <option value="-1" selected>Start</option>
                            </select>
                            to
                            <select id="seasonEndDropdown">
                                <option value="-1" selected>End</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>