@using ImdbGrapher.Models.Home
@model GraphShowModel

@section styles {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Scripts/Home/GraphShow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
}

<input hidden id="showId" value="@Model.ShowId" />

<div class="container" id="loaderContainer">
    <div class="loader"></div>
</div>

<div class="container" id="graphContainer" hidden>
    <div class="showTitleDisplay">
        <a id="showTitleDisplayContent" class="displayPosterLink"></a>
        <span class="fa fa-cog" id="settingsCog" data-toggle="modal" data-target="#gridSettingsModal"></span>
    </div>
    <canvas id="showChart"></canvas>
    <div class="container gridFooterContainer">
        <div>
            <a id="similarShowsLink">View Similar Shows</a>
        </div>
        <div>
            <a href="/imdbgraph">Graph Another Show</a>
        </div>
    </div>
</div>

<div class="container" id="errorContainer" hidden>
    <h4 class="searchResult">Unable to display the requested show</h4>
</div>

<div id="gridSettingsModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configure Chart</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="checkbox">
                        <label><input type="checkbox" id="startFromZero"> Start From Zero</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="showSeriesTrendline"> Show Series Trendline</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="filterSeasons">
                            Filter seasons:
                            <select id="seasonStartDropdown">
                                <option value="-1" selected>Start</option>
                            </select>
                            to
                            <select id="seasonEndDropdown">
                                <option value="-1" selected>End</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>