@using ImdbGrapher.Models.Home
@model SearchShowModel

<div class="container" id="searchResultsContainer">
    <div class="container" id="searchResults">
        @if (Model.Results.Any())
        {
            <h4 class="searchResult">Please select from these search results</h4>
            foreach (var result in Model.Results)
            {
                <a class="searchResultLink displayPosterLink" data-poster="@result.PosterUrl" href="/imdbgraph/Home/GraphShow?id=@result.ImdbId">@result.Title (@result.Year)</a>
                <br />
            }
        }
        else
        {
            <h4 class="searchResult">Unable to find the requested show</h4>
        }
        <div class="container gridFooterContainer">
            <div>
                <a href="/imdbgraph">Find Another Show</a>
            </div>
        </div>
    </div>

</div>